In [1]:
import numpy as np
import pandas as pd

## 장애인주차구역 과태료 부과 현황 전처리

In [3]:
filepath = 'C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/'
filename = '서울특별시_장애인 주차구역 과태료 부과 현황_20230209.csv'

raw_data = pd.read_csv(filepath+filename, encoding='cp949')

In [4]:
#깔끔한 데이터. 부과액만 천원 단위로 절삭하기로 함
raw_data

   서울특별시(자치구)    건수        부과액
0        종로구      892   75000260
1         중구     2154  185440000
2        용산구     1438  138260000
3        성동구     2264  195190000
4        광진구     1594  133660000
5       동대문구     5432  448580000
6        중랑구     1573  132493000
7        성북구     1336  114600000
8        강북구     1745  148504000
9        도봉구     1948  169470000
10       노원구     2521  201200000
11       은평구     1220  108620000
12      서대문구     1245  124500000
13       마포구     3096  269650000
14       양천구     1977  171680000
15       강서구     5443  447509000
16       구로구     2355  209330000
17       금천구     2208  208510000
18      영등포구     4902  451500000
19       동작구     1982  161890000
20       관악구     1776  152020000
21       서초구     3257  269840000
22       강남구     6135  546904200
23       송파구     4656  409090000
24       강동구     2307  184200000

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   서울특별시(자치구)  25 non-null     object
 1     건수        25 non-null     int64
 2     부과액       25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 732.0+ bytes

In [21]:
raw_data.columns

Index(['서울특별시(자치구)', '  건수  ', '  부과액  '], dtype='object')

In [35]:
seoul_fine = raw_data.sort_values('서울특별시(자치구)').reset_index(drop=True).rename({'서울특별시(자치구)':'시군구명','  건수  ':'fine_count', '  부과액  ':'fine_sum'}, axis=1)

In [36]:
seoul_fine['fine_sum(천)'] = seoul_fine['fine_sum'].apply(lambda x: '{:.2f}'.format(x/(10**3)))

In [37]:
seoul_fine = seoul_fine.drop('fine_sum', axis=1)

In [38]:
seoul_fine

      시군구명  fine_count fine_sum(천)
0     강남구         6135   546904.20
1     강동구         2307   184200.00
2     강북구         1745   148504.00
3     강서구         5443   447509.00
4     관악구         1776   152020.00
5     광진구         1594   133660.00
6     구로구         2355   209330.00
7     금천구         2208   208510.00
8     노원구         2521   201200.00
9     도봉구         1948   169470.00
10   동대문구         5432   448580.00
11    동작구         1982   161890.00
12    마포구         3096   269650.00
13   서대문구         1245   124500.00
14    서초구         3257   269840.00
15    성동구         2264   195190.00
16    성북구         1336   114600.00
17    송파구         4656   409090.00
18    양천구         1977   171680.00
19   영등포구         4902   451500.00
20    용산구         1438   138260.00
21    은평구         1220   108620.00
22    종로구          892    75000.26
23     중구         2154   185440.00
24    중랑구         1573   132493.00

In [39]:
seoul_fine.to_csv('C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/장애인주차구역과태료_전처리.csv',
                encoding='cp949')

## 식당운영정보 데이터 전처리

In [40]:
filepath = 'C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/'
filename = '(주차가능여부컬럼)서울관광재단_식당운영정보_20230111.csv'

raw_data = pd.read_csv(filepath+filename, encoding='cp949')

In [45]:
raw_data.head()

,식당(ID),식당명,지점명,지역명,주차가능여부,와이파이제공여부,놀이방유무,다국어메뉴판제공여부,화장실정보내용,휴무일정보내용,...,홈페이지(URL),인근랜드마크명,인근랜드마크위도,인근랜드마크경도,인근랜드마크와거리,스마트오더유무,대표메뉴명,식당상태,해시태그,면적정보내용
0,10012,명동정,NaN,중구,Y,Y,N,N,Y,NaN,...,"http://www.hanjeongik.co.kr/,http://myongdongj...",초전섬유ㆍ퀼트박물관,37.558183,126.984249,59.03875,N,NaN,NORMAL,"룸,모범음식점,트립어드바이저",NaN
1,10014,봉추찜닭,명동중앙우체국점,중구,N,N,N,Y,N,NaN,...,http://www.bongchu.com/,H&M (명동1호점),37.563425,126.982898,29.28563,N,NaN,NORMAL,"모범음식점,씨트립,포장가능",NaN
2,10015,금계찜닭,명동점,중구,N,N,N,N,N,NaN,...,NaN,경성 부민관 폭탄 의거지,37.567560,126.976527,88.77277,N,NaN,NORMAL,포장가능,NaN
3,10016,명동한우방,명동본점,중구,N,Y,N,N,N,NaN,...,NaN,눈스퀘어,37.563425,126.982898,94.97189,N,NaN,NORMAL,"룸,씨트립,포장가능",NaN
4,10018,삼호복집,NaN,서대문구,Y,N,N,Y,Y,일요일,...,http://amhobokzip.modoo.at,이한열박물관,37.555024,126.933853,137.13886,N,NaN,NORMAL,"룸,모범음식점,포장가능",NaN

In [42]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142420 entries, 0 to 142419
Data columns (total 23 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   식당(ID)      142420 non-null  int64
 1   식당명         142420 non-null  object
 2   지점명         37207 non-null   object
 3   지역명         142420 non-null  object
 4   주차가능여부      142420 non-null  object
 5   와이파이제공여부    142420 non-null  object
 6   놀이방유무       142420 non-null  object
 7   다국어메뉴판제공여부  142420 non-null  object
 8   화장실정보내용     142420 non-null  object
 9   휴무일정보내용     20059 non-null   object
 10  영업시간내용      48681 non-null   object
 11  배달서비스유무     142420 non-null  object
 12  온라인예약정보내용   14596 non-null   object
 13  홈페이지(URL)   27871 non-null   object
 14  인근랜드마크명     138399 non-null  object
 15  인근랜드마크위도    138399 non-null  float64
 16  인근랜드마크경도    138399 non-null  float64
 17  인근랜드마크와거리   138399 non-null  float64
 18  스마트오더유무     142420 non-null  object
 19  대표메뉴명       30349 non-null   object
 20  식당상태        142420 non-null  object
 21  해시태그        11045 non-null   object
 22  면적정보내용      105 non-null     float64
dtypes: float64(4), int64(1), object(18)
memory usage: 25.0+ MB

In [48]:
res_parking = raw_data[['지역명', '주차가능여부', '식당(ID)']]

In [50]:
res_parking = res_parking.replace({'주차가능여부': {'Y':1, 'N':0}})

In [51]:
res_parking

         지역명  주차가능여부  식당(ID)
0         중구       1   10012
1         중구       0   10014
2         중구       0   10015
3         중구       0   10016
4       서대문구       1   10018
...      ...     ...     ...
142415   마포구       0  948182
142416    중구       1  948183
142417   마포구       0  948192
142418   종로구       0  948193
142419   강남구       0  948194

[142420 rows x 3 columns]

In [56]:
#주차가능하다고 한 점포수와 전체 점포수 계산
seoul_gu_res_parking = res_parking.groupby('지역명')['주차가능여부'].aggregate(['sum', 'count']).reset_index().rename({'sum':'주차가능점포수', 'count':'전체점포수'}, axis=1)

In [57]:
seoul_gu_res_parking

     지역명  주차가능점포수  전체점포수
0    강남구     2253  14504
1    강동구      658   4712
2    강북구      333   3756
3    강서구     1184   6890
4    관악구      511   5238
5    광진구      558   4958
6    구로구      505   4519
7    금천구      456   3393
8    노원구      562   4341
9    도봉구      280   2629
10  동대문구      416   4741
11   동작구      371   3610
12   마포구     1093   8998
13  서대문구      364   4363
14   서초구     1320   6984
15   성동구      442   4226
16   성북구      477   4675
17   송파구     1443   8398
18   양천구      489   3648
19  영등포구     1077   8003
20   용산구      516   5382
21   은평구      516   4507
22   종로구      606   8078
23    중구      584   7741
24   중랑구      389   4126

In [59]:
seoul_gu_res_parking['주차가능점포비율'] = seoul_gu_res_parking['주차가능점포수']/seoul_gu_res_parking['전체점포수']*100

In [60]:
seoul_gu_res_parking

     지역명  주차가능점포수  전체점포수   주차가능점포비율
0    강남구     2253  14504  15.533646
1    강동구      658   4712  13.964346
2    강북구      333   3756   8.865815
3    강서구     1184   6890  17.184325
4    관악구      511   5238   9.755632
5    광진구      558   4958  11.254538
6    구로구      505   4519  11.175039
7    금천구      456   3393  13.439434
8    노원구      562   4341  12.946326
9    도봉구      280   2629  10.650437
10  동대문구      416   4741   8.774520
11   동작구      371   3610  10.277008
12   마포구     1093   8998  12.147144
13  서대문구      364   4363   8.342883
14   서초구     1320   6984  18.900344
15   성동구      442   4226  10.459063
16   성북구      477   4675  10.203209
17   송파구     1443   8398  17.182663
18   양천구      489   3648  13.404605
19  영등포구     1077   8003  13.457453
20   용산구      516   5382   9.587514
21   은평구      516   4507  11.448857
22   종로구      606   8078   7.501857
23    중구      584   7741   7.544245
24   중랑구      389   4126   9.428017

In [62]:
seoul_gu_res_parking.to_csv('C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/서울시 구별 주차가능점포수_전처리.csv',
                encoding='cp949')